/* --------------------main-section------------------ */

.main-section {
    .container {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 140px;
        padding-bottom: 50px;

        @include media('<tablet_x') {
            padding-top: 120px;
            padding-bottom: 25px;
        }
    }

    .content {
        width: 50%;

        @include media('<tablet_x') {
            width: 100%;
            text-align: center;
        }

        @include media('<phone') {
            text-align: start;
        }
    }

    .main-title {
        margin-bottom: 30px;
        font: $bold 72px / 1 $Cinzel;

        @include media('<widescreen') {
            font-size: 52px;
        }

        @include media('<phone') {
            margin-bottom: 16px;
            font-size: 34px;
        }
    }

    .main-sub-title {
        margin-bottom: 24px;
        font: $regular 36px / 1.2 $Cinzel;

        @include media('<widescreen') {
            font-size: 26px;
        }

        @include media('<phone') {
            margin-bottom: 10px;
            font-size: 18px;
        }

        strong {
            color: $accent_gold;
        }
    }

    .text {
        margin-bottom: 30px;
        font: $regular 24px / 1.2 $Quattrocento;

        @include media('<widescreen') {
            font-size: 20px;
        }

        @include media('<phone') {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    .img-wrap {
        position: absolute;
        top: 0;
        right: -12%;
        width: 637px;
        height: 100%;
        border-bottom-left-radius: 70px;
        overflow: hidden;

        @include media('<widescreen') {
            right: 0;
            width: 40%;
        }

        @include media('<tablet_x') {
            position: static;
            width: 50%;
            height: 400px;
            margin: 0 auto 40px auto;
        }

        @include media('<tablet') {
            width: 70%;
        }

        @include media('<phone') {
            width: 120%;
            height: 376px;
        }
    }

    .main-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

        @include media('<tablet_x') {
            position: static;
        }
    }
}
