/* --------------------main-section------------------ */

.main-section {
    .container {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 140px;
        padding-bottom: 50px;

        @include media('<tablet_x') {
            padding-top: 120px;
            padding-bottom: 25px;
        }
    }

    .content {
        width: 50%;

        @include media('<tablet_x') {
            width: 100%;
            text-align: center;
        }

        @include media('<phone') {
            text-align: start;
        }
    }

    .main-title {
        margin-bottom: 30px;
        font: $bold 72px / 1 $Cinzel;

        @include media('<widescreen') {
            font-size: 52px;
        }

        @include media('<phone') {
            margin-bottom: 16px;
            font-size: 34px;
        }
    }

    .main-sub-title {
        margin-bottom: 24px;
        font: $regular 36px / 1.2 $Cinzel;

        @include media('<widescreen') {
            font-size: 26px;
        }

        @include media('<phone') {
            margin-bottom: 10px;
            font-size: 18px;
        }

        strong {
            transition: color 1s ease 1s;
        }

        &.show {
            strong {
                color: $accent_gold;
            }
        }
    }

    .text {
        margin-bottom: 30px;
        font: $regular 24px / 1.2 $Quattrocento;

        @include media('<widescreen') {
            font-size: 20px;
        }

        @include media('<phone') {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    .img-wrap {
        position: absolute;
        top: 0;
        right: -12%;
        width: 637px;
        height: 100%;
        border-bottom-left-radius: 70px;
        overflow: hidden;

        @include media('<widescreen') {
            right: 0;
            width: 40%;
        }

        @include media('<tablet_x') {
            position: static;
            width: 50%;
            height: 400px;
            margin: 0 auto 40px auto;
        }

        @include media('<tablet') {
            width: 70%;
        }

        @include media('<phone') {
            width: 120%;
            height: 376px;
        }
    }

    .main-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

        @include media('<tablet_x') {
            position: static;
        }
    }
}

/* --------------------card-section------------------ */

.card-section {
    padding: 120px 0 60px 0;

    @include media('<tablet_x') {
        padding: 25px 0;
    }

    .title {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .cardSlider {
        overflow: visible;
    }

    .swiper-wrapper {
        counter-reset: my-awesome-counter;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media('>=tablet_s') {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 50px;
        }

        @include media('<widescreen') {
            gap: 24px;
        }

        @include media('<tablet_s') {
            gap: 0;
        }

        &.show {
            .swiper-slide {
                opacity: 1;

                &:before {
                    min-width: 50px;
                    height: 50px;
                    animation-name: color;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    .swiper-slide {
        counter-increment: my-awesome-counter;
        position: relative;
        display: flex;
        opacity: 0;
        transition: opacity 0.7s ease;
        @include delay;
        @include delayBefore;
        @include delayAnimationBefore;

        &:before {
            content: counter(my-awesome-counter);
            position: absolute;
            right: -9px;
            bottom: -9px;
            display: grid;
            place-items: center;
            min-width: 0px;
            height: 0px;
            background-color: $main_white;
            border-radius: 50%;
            color: transparent;
            font: $bold 24px / 1.2 $Quattrocento;
            transition: all 0.7s ease;

            @include media('<phone') {
                font-size: 20px;
            }
        }

        @keyframes color {
            0% {
                color: transparent;
            }
            50% {
                color: transparent;
            }
            100% {
                color: $main_black;
            }
        }

        &:nth-child(-n + 9)::before {
            content: '0' counter(my-awesome-counter);
        }
    }

    .item {
        flex: 1 1 auto;
        min-height: 130px;
        display: grid;
        place-items: center;
        padding: 20px 30px;
        background-color: $bg_gray;
        border-radius: 16px;
    }

    .item-title {
        margin: 0;
        color: $accent_violet;
        font: $bold 18px / 1.2 $Quattrocento;
        text-align: center;
    }

    .def-pag {
        display: none;

        @include media('<tablet_s') {
            display: flex;
        }
    }
}

/* --------------------about-section----------------- */

.about-section {
    padding: 60px 0 120px 0;

    @include media('<tablet_x') {
        padding: 25px 0 50px 0;
    }

    .container {
        @include media('<phone') {
            padding: 0;
        }
    }

    .title {
        @include media('<phone') {
            padding: 0 40px;
        }
    }

    .block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 80px;

        @include media('<tablet_x') {
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

    .img-box {
        position: relative;
        width: 100%;
        max-width: 550px;
        min-height: 700px;
        border-radius: 20px;
        overflow: hidden;

        @include media('<tablet_x') {
            max-width: 80%;
            min-height: 550px;
        }

        @include media('<phone') {
            max-width: 100%;
            border-radius: 0;
            min-height: 450px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .text-box {
        width: 100%;
        max-width: 470px;

        @include media('<tablet_x') {
            max-width: 100%;
        }

        @include media('<phone') {
            padding: 0 40px;
        }
    }

    .sub-title {
        margin-bottom: 24px;
        font: $bold 24px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 20px;
        }
    }

    .text {
        margin-bottom: 24px;
        font: $regular 16px / 1.2 $Quattrocento;
    }

    .list-box {
        padding: 30px;
        background-color: rgba($bg_gray, 0.7);
        border-radius: 20px;
        box-shadow: 0px 4px 16px 0px #0000001f;

        @include media('<phone') {
            padding: 13px;
        }
    }

    .list-title {
        margin-bottom: 20px;
        color: $accent_gold;
        font: $bold 36px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 20px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-item {
        position: relative;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }

        &::before {
            content: '✓ ';
            font-weight: $bold;
        }
    }

    .banner {
        position: relative;
        width: 100%;
        max-width: 752px;
        margin: 0 auto 40px auto;
        padding: 30px 50px;
        background-color: $accent_violet;
        border-radius: 16px;
        overflow: hidden;

        @include media('<phone') {
            margin-bottom: 30px;
            padding: 20px 40px;
            border-radius: 0;
        }
    }

    .banner-text {
        margin: 0;
        color: $main_white;
        text-align: center;
        font: $regular 24px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 18px;
        }
    }

    .bg-icon {
        position: absolute;

        &.bg19 {
            top: -12px;
            left: -21px;
        }

        &.bg17 {
            top: -8px;
            right: -34px;
        }

        &.bg18 {
            bottom: -71px;
            right: -25px;
        }
    }

    .btn-wrap {
        text-align: center;
    }
}

/* --------------------course-section---------------- */

.course-section {
    padding: 120px 0;
    background-color: $bg_gray;

    @include media('<tablet_x') {
        padding: 50px 0;
    }

    .title {
        text-align: center;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 50px;
    }

    .text-box {
        width: 100%;
        max-width: 450px;
        min-width: 450px;

        @include media('<tablet_x') {
            max-width: 100%;
            min-width: 0;
        }
    }

    .text {
        margin-bottom: 40px;
        font: $regular 16px / 1.2 $Quattrocento;

        @include media('<phone') {
            margin-bottom: 16px;
        }
    }

    .img-box {
        position: relative;
        width: 100%;
        max-width: 500px;
        min-height: 450px;
        border-bottom-left-radius: 50px;
        overflow: hidden;

        @include media('<tablet_x') {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;

        @include media('<phone') {
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
    }

    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<tablet_x') {
            font-size: 16px;
        }

        @include media('<phone') {
            max-width: max-content;
            flex-direction: column;
            gap: 12px;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -6px;
            width: calc(100% - 50px);
            height: 2px;
            background-color: $accent_gold;

            @include media('<phone') {
                width: 100%;
            }
        }

        &:first-child {
            &::after {
                width: 100%;
            }

            img {
                display: none;
            }
        }

        img {
            @include media('<phone') {
                transform: rotate(90deg);
            }
        }
    }

    .card-title {
        margin-bottom: 30px;
        text-align: center;
        font: $bold 36px / 1.2 $Quattrocento;

        @include media('<tablet_x') {
            font-size: 28px;
        }

        @include media('<phone') {
            margin-bottom: 24px;
            font-size: 24px;
        }
    }

    .card-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 76px;

        @include media('<phone') {
            gap: 18px;
        }
    }

    .card-item {
        width: 100%;
        max-width: 290px;
        text-align: center;

        &.show {
            .line,
            .card-item-title,
            .card-item-text {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .card-item-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        margin-bottom: 14px;
    }

    .line {
        height: 6px;
        background-color: $accent_gold;

        opacity: 0;
        transition: $anim_07;

        &.line1 {
            width: 52px;
            transition-delay: 0.3s;
        }

        &.line2 {
            width: 41px;
            transition-delay: 0.6s;
        }

        &.line3 {
            width: 31px;
            transition-delay: 0.9s;
        }

        &.line4 {
            width: 5px;
            transition-delay: 1.2s;
        }
    }

    .card-item-title {
        margin-bottom: 12px;
        font: $bold 24px / 1.2 $Quattrocento;

        transform: translateY(20px);
        opacity: 0;
        transition: $anim_07;
        transition-delay: 1.5s;

        @include media('<tablet_x') {
            font-size: 20px;
        }

        @include media('<phone') {
            font-size: 18px;
        }
    }

    .card-item-text {
        margin: 0;
        font: $regular 18px / 1.2 $Quattrocento;

        transform: translateY(20px);
        opacity: 0;
        transition: $anim_07;
        transition-delay: 2s;

        @include media('<phone') {
            font-size: 16px;
        }
    }
}

/* ---------------------price-section----------------- */

.price-section {
    padding: 120px 0 60px 0;

    @include media('<tablet_x') {
        padding: 50px 0 25px 0;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 50px;

        @include media('<tablet_x') {
            flex-direction: column;
        }

        @include media('<phone') {
            margin-bottom: 40px;
        }
    }

    .img-box {
        position: relative;
        width: 100%;
        max-width: 450px;
        min-height: 450px;
        border-bottom-right-radius: 50px;
        overflow: hidden;

        @include media('<tablet_x') {
            max-width: 80%;
        }

        @include media('<phone') {
            max-width: 100%;
            min-width: 360px;
            min-height: 360px;
            left: -40px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .text-box {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;

        @include media('<tablet_x') {
            max-width: 100%;
            gap: 20px;
        }
    }

    .text {
        margin: 0;
        font: $bold 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }
    }

    .img-wrap {
        position: relative;
        width: 100%;
        max-width: 250px;
        min-height: 250px;
        border-bottom-left-radius: 30px;
        overflow: hidden;

        @include media('<phone') {
            max-width: 200px;
            min-height: 200px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 40px;
        margin-bottom: 40px;

        @include media('<phone') {
            gap: 30px;
        }
    }

    .card {
        position: relative;
        width: 100%;
        max-width: 350px;
        min-height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 24px;
        border-radius: 20px;
        border: 2px solid $accent_gold;
        box-shadow: 0px 4px 16px 0px rgba($accent_gold, 0.5);
        overflow: hidden;

        @include media('<phone') {
            padding: 40px 20px;
            min-height: 500px;
        }
    }

    .card-title {
        position: relative;
        max-width: 280px;
        min-height: 68px;
        padding-bottom: 10px;
        margin: 0 auto 20px auto;
        color: $accent_violet;
        text-align: center;
        font: $bold 24px / 1.2 $Quattrocento;

        @include media('<phone') {
            max-width: 170px;
            font-size: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 90%;
            max-width: 175px;
            background-color: $main_black;
        }
    }

    .card-text {
        margin-bottom: 16px;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }

        span {
            font-size: 14px;
        }
    }

    .card-list-title {
        margin-bottom: 10px;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }
    }

    .card-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0;
        margin: 0 0 20px 0;
        list-style: none;
    }

    .card-list-item {
        font: $regular 14px / 1.2 $Quattrocento;

        &::before {
            content: '✓ ';
            font-weight: $bold;
        }
    }

    .price-card-box {
        text-align: center;
    }

    .price-card-title {
        margin-bottom: 7px;
        color: $accent_gold;
        font: $bold 18px / 1.2 $Quattrocento;
    }

    .price-card-price {
        max-width: max-content;
        margin: 0 auto;
        font: $bold 24px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 20px;
        }

        &.discount {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 115%;
                height: 2px;
                background-color: $accent_red;
            }
        }
    }

    .sale {
        position: absolute;
        top: 17px;
        left: -28px;
        transform: rotate(-45deg);
        padding: 6px 32px;
        background-color: $accent_red;
        color: $main_white;
        font: $bold 16px / 1.2 $Quattrocento;
    }

    .btn-wrap {
        text-align: center;
    }
}

/* --------------------reviews-section---------------- */

.reviews-section {
    padding: 60px 0 120px 0;

    @include media('<tablet_x') {
        padding: 25px 0 50px 0;
    }

    .title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .reviewsSlider {
        @include media('<tablet_x') {
            overflow: visible;
        }
    }

    .reviews-arrows {
        justify-content: flex-end;

        @include media('<tablet_x') {
            display: none;
        }
    }

    .item {
        position: relative;
        min-height: 400px;
        border-radius: 20px;
        overflow: hidden;

        @include media('<tablet_x') {
            min-height: 350px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* ----------------------info-section------------------ */

.info-section {
    padding: 120px 0;
    background-color: $bg_gray;

    @include media('<tablet_x') {
        padding: 50px 0;
    }

    .content {
        text-align: center;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 14px;

        @include media('<tablet_s') {
            position: relative;
            padding-right: 50px;
        }

        img {
            max-width: 60px;

            @include media('<tablet_x') {
                max-width: 32px;
            }

            @include media('<tablet_s') {
                position: absolute;
                right: 0;
            }
        }
    }

    .btn-wrap {
        margin-top: 40px;
    }
}

/* ----------------------error-section----------------- */

.error-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    background-color: $bg_gray;

    .content {
        position: relative;
        text-align: center;
        max-width: 710px;
    }

    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 1000px;

        @include media('<phone') {
            width: 500px;
            height: 700px;
        }
    }

    .block {
        position: relative;
        z-index: 1;
    }

    .main-title {
        margin-bottom: 30px;
        font: $bold 190px / 1.2 $Cinzel;

        @include media('<tablet_x') {
            font-size: 150px;
        }

        span {
            color: $accent_gold;
        }
    }

    .main-sub-title {
        margin-bottom: 30px;
        font: $bold 48px / 1.2 $Cinzel;
        text-transform: uppercase;

        @include media('<tablet_x') {
            font-size: 38px;
        }

        @include media('<phone') {
            font-size: 22px;
        }
    }

    .text {
        max-width: 480px;
        margin: 0 auto 30px auto;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }
    }
}

/* -----------------------page-section----------------- */

.page-section {
    background-color: $bg_gray;
    padding: 190px 0 100px 0;

    @include media('<tablet_x') {
        padding: 100px 0 50px 0;
    }

    .main-title {
        text-align: center;
        font: $bold 48px / 1.2 $Cinzel;

        @include media('<tablet_x') {
            font-size: 32px;
        }
    }

    .block {
        h2 {
            @include media('<tablet_x') {
                font-size: 24px;
            }
        }

        h3 {
            font-weight: $bold;

            @include media('<tablet_x') {
                font-size: 18px;
            }
        }

        h4 {
            @include media('<tablet_x') {
                font-size: 16px;
            }
        }

        h5 {
            @include media('<tablet_x') {
                font-size: 14px;
            }
        }

        h6 {
            @include media('<tablet_x') {
                font-size: 12px;
            }
        }

        a {
            color: $accent_gold;

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 3px;
                font: $regular 18px / 1.2 $Quattrocento;

                @include media('<tablet_x') {
                    font-size: 14px;
                }

                &::before {
                    content: '✓ ';
                    font-weight: $bold;
                }
            }
        }

        ol {
            padding: 0;
            list-style: none;
            counter-reset: my-awesome-counter;

            li {
                margin-bottom: 3px;
                font: $regular 18px / 1.2 $Quattrocento;
                counter-increment: my-awesome-counter;

                @include media('<tablet_x') {
                    font-size: 14px;
                }

                &:before {
                    content: counter(my-awesome-counter) '. ';
                }

                &:nth-child(-n + 9)::before {
                    content: '0' counter(my-awesome-counter) '. ';
                }
            }
        }

        img {
            margin-bottom: 30px;
        }
    }
}
