/* --------------------main-section------------------ */

.main-section {
    .container {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 140px;
        padding-bottom: 50px;

        @include media('<tablet_x') {
            padding-top: 120px;
            padding-bottom: 25px;
        }
    }

    .content {
        width: 50%;

        @include media('<tablet_x') {
            width: 100%;
            text-align: center;
        }

        @include media('<phone') {
            text-align: start;
        }
    }

    .main-title {
        margin-bottom: 30px;
        font: $bold 72px / 1 $Cinzel;

        @include media('<widescreen') {
            font-size: 52px;
        }

        @include media('<phone') {
            margin-bottom: 16px;
            font-size: 34px;
        }
    }

    .main-sub-title {
        margin-bottom: 24px;
        font: $regular 36px / 1.2 $Cinzel;

        @include media('<widescreen') {
            font-size: 26px;
        }

        @include media('<phone') {
            margin-bottom: 10px;
            font-size: 18px;
        }

        strong {
            color: $accent_gold;
        }
    }

    .text {
        margin-bottom: 30px;
        font: $regular 24px / 1.2 $Quattrocento;

        @include media('<widescreen') {
            font-size: 20px;
        }

        @include media('<phone') {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    .img-wrap {
        position: absolute;
        top: 0;
        right: -12%;
        width: 637px;
        height: 100%;
        border-bottom-left-radius: 70px;
        overflow: hidden;

        @include media('<widescreen') {
            right: 0;
            width: 40%;
        }

        @include media('<tablet_x') {
            position: static;
            width: 50%;
            height: 400px;
            margin: 0 auto 40px auto;
        }

        @include media('<tablet') {
            width: 70%;
        }

        @include media('<phone') {
            width: 120%;
            height: 376px;
        }
    }

    .main-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

        @include media('<tablet_x') {
            position: static;
        }
    }
}

/* --------------------card-section------------------ */

.card-section {
    padding: 120px 0 60px 0;

    @include media('<tablet_x') {
        padding: 25px 0;
    }

    .title {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .cardSlider {
        overflow: visible;
    }

    .swiper-wrapper {
        counter-reset: my-awesome-counter;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media('>=tablet_s') {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 50px;
        }

        @include media('<widescreen') {
            gap: 24px;
        }

        @include media('<tablet_s') {
            gap: 0;
        }
    }

    .swiper-slide {
        counter-increment: my-awesome-counter;
        position: relative;
        display: flex;

        &:before {
            content: counter(my-awesome-counter);
            position: absolute;
            right: -9px;
            bottom: -9px;
            display: grid;
            place-items: center;
            min-width: 50px;
            height: 50px;
            background-color: $main_white;
            border-radius: 50%;
            color: $main_black;
            font: $bold 24px / 1.2 $Quattrocento;

            @include media('<phone') {
                font-size: 20px;
            }
        }

        &:nth-child(-n + 9)::before {
            content: '0' counter(my-awesome-counter);
        }
    }

    .item {
        flex: 1 1 auto;
        min-height: 130px;
        display: grid;
        place-items: center;
        padding: 20px 30px;
        background-color: $bg_gray;
        border-radius: 16px;
    }

    .item-title {
        margin: 0;
        color: $accent_violet;
        font: $bold 18px / 1.2 $Quattrocento;
        text-align: center;
    }

    .def-pag {
        display: none;

        @include media('<tablet_s') {
            display: flex;
        }
    }
}

/* --------------------about-section----------------- */

.about-section {
    padding: 60px 0 120px 0;

    @include media('<tablet_x') {
        padding: 25px 0 50px 0;
    }

    .container {
        @include media('<phone') {
            padding: 0;
        }
    }

    .title {
        @include media('<phone') {
            padding: 0 40px;
        }
    }

    .block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 80px;

        @include media('<tablet_x') {
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

    .img-box {
        position: relative;
        width: 100%;
        max-width: 550px;
        min-height: 700px;
        border-radius: 20px;
        overflow: hidden;

        @include media('<tablet_x') {
            max-width: 80%;
            min-height: 550px;
        }

        @include media('<phone') {
            max-width: 100%;
            border-radius: 0;
            min-height: 450px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .text-box {
        width: 100%;
        max-width: 470px;

        @include media('<tablet_x') {
            max-width: 100%;
        }

        @include media('<phone') {
            padding: 0 40px;
        }
    }

    .sub-title {
        margin-bottom: 24px;
        font: $bold 24px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 20px;
        }
    }

    .text {
        margin-bottom: 24px;
        font: $regular 16px / 1.2 $Quattrocento;
    }

    .list-box {
        padding: 30px;
        background-color: rgba($bg_gray, 0.7);
        border-radius: 20px;
        box-shadow: 0px 4px 16px 0px #0000001f;

        @include media('<phone') {
            padding: 13px;
        }
    }

    .list-title {
        margin-bottom: 20px;
        color: $accent_gold;
        font: $bold 36px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 20px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-item {
        position: relative;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }

        &::before {
            content: '✓ ';
            font-weight: $bold;
        }
    }

    .banner {
        position: relative;
        width: 100%;
        max-width: 752px;
        margin: 0 auto 40px auto;
        padding: 30px 50px;
        background-color: $accent_violet;
        border-radius: 16px;
        overflow: hidden;

        @include media('<phone') {
            margin-bottom: 30px;
            padding: 20px 40px;
            border-radius: 0;
        }
    }

    .banner-text {
        margin: 0;
        color: $main_white;
        text-align: center;
        font: $regular 24px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 18px;
        }
    }

    .bg-icon {
        position: absolute;

        &.bg19 {
            top: -12px;
            left: -21px;
        }

        &.bg17 {
            top: -8px;
            right: -34px;
        }

        &.bg18 {
            bottom: -71px;
            right: -25px;
        }
    }

    .btn-wrap {
        text-align: center;
    }
}

/* --------------------course-section---------------- */

.course-section {
    padding: 120px 0;
    background-color: $bg_gray;

    @include media('<tablet_x') {
        padding: 50px 0;
    }

    .title {
        text-align: center;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 50px;
    }

    .text-box {
        width: 100%;
        max-width: 450px;
        min-width: 450px;

        @include media('<tablet_x') {
            max-width: 100%;
            min-width: 0;
        }
    }

    .text {
        margin-bottom: 40px;
        font: $regular 16px / 1.2 $Quattrocento;

        @include media('<phone') {
            margin-bottom: 16px;
        }
    }

    .img-box {
        position: relative;
        width: 100%;
        max-width: 500px;
        min-height: 450px;
        border-bottom-left-radius: 50px;
        overflow: hidden;

        @include media('<tablet_x') {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;

        @include media('<phone') {
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
    }

    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<tablet_x') {
            font-size: 16px;
        }

        @include media('<phone') {
            max-width: max-content;
            flex-direction: column;
            gap: 12px;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -6px;
            width: calc(100% - 50px);
            height: 2px;
            background-color: $accent_gold;

            @include media('<phone') {
                width: 100%;
            }
        }

        &:first-child {
            &::after {
                width: 100%;
            }

            img {
                display: none;
            }
        }

        img {
            @include media('<phone') {
                transform: rotate(90deg);
            }
        }
    }

    .card-title {
        margin-bottom: 30px;
        text-align: center;
        font: $bold 36px / 1.2 $Quattrocento;

        @include media('<tablet_x') {
            font-size: 28px;
        }

        @include media('<phone') {
            margin-bottom: 24px;
            font-size: 24px;
        }
    }

    .card-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 76px;

        @include media('<phone') {
            gap: 18px;
        }
    }

    .card-item {
        width: 100%;
        max-width: 290px;
        text-align: center;
    }

    .card-item-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        margin-bottom: 14px;
    }

    .line {
        height: 6px;
        background-color: $accent_gold;

        &.line1 {
            width: 52px;
        }

        &.line2 {
            width: 41px;
        }

        &.line3 {
            width: 31px;
        }

        &.line4 {
            width: 5px;
        }
    }

    .card-item-title {
        margin-bottom: 12px;
        font: $bold 24px / 1.2 $Quattrocento;

        @include media('<tablet_x') {
            font-size: 20px;
        }

        @include media('<phone') {
            font-size: 18px;
        }
    }

    .card-item-text {
        margin: 0;
        font: $regular 18px / 1.2 $Quattrocento;

        @include media('<phone') {
            font-size: 16px;
        }
    }
}
