<footer id="footer">
    <div class="container">
        <div class="content">
            <a class="logo" href="index.html">
                <img src="./images/icons/logo.svg" alt="Logo">
            </a>
            <ul class="menu">
                <li class="menu-item">
                    <a class="link link-close" href="#for">Для кого</a>
                </li>
                <li class="menu-item">
                    <a class="link link-close" href="#about">Про мене</a>
                </li>
                <li class="menu-item">
                    <a class="link link-close" href="#course">Програма курсу</a>
                </li>
                <li class="menu-item">
                    <a class="link link-close" href="#price">Тарифи</a>
                </li>
                <li class="menu-item">
                    <a class="link link-close" href="#reviews">Відгуки</a>
                </li>
            </ul>
            <p class="text">Інна Луценко © 2024 <a href="page.html" target="_blank">Всі права захищені</a></p>
            <div class="socials">
                <a class="btn secondary" href="#">
                    <img src="./images/icons/telegram.svg" alt="icon">
                    <span class="btn-text">@Lytsenko_Inna</span>
                    <img class="arrow" src="./images/icons/arrow-right.svg" alt="icon arrow">
                </a>
                <a class="btn secondary" href="#">
                    <img src="./images/icons/insta.svg" alt="icon">
                    <span class="btn-text">@Lytsenko_Inna</span>
                    <img class="arrow" src="./images/icons/arrow-right.svg" alt="icon arrow">
                </a>
            </div>
        </div>
    </div>
</footer>