<header id="header">
    <div class="overflow"></div>
    <div class="container">
        <div class="content">
            <nav class="menu-wrap">
                <ul class="lang-box mob">
                    <li class="lang-item lang-item-6 lang-item-ua current-lang lang-item-first">
                        <a lang="ua" hreflang="ua" href="#">ua</a>
                    </li>
                    <li class="lang-item lang-item-3 lang-item-en">
                        <a lang="en" hreflang="en" href="#">en</a>
                    </li>
                </ul>
                <ul class="menu">
                    <li class="menu-item">
                        <a class="link link-close" href="#for">Для кого</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#about">Про мене</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#course">Програма курсу</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#price">Тарифи</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#reviews">Відгуки</a>
                    </li>
                </ul>
                <div class="numbers mob">
                    <a class="link" href="tel:+380633604710">+38 (063) 360-47-10</a>
                </div>
            </nav>
            <a class="logo" href="index.html">
                <img src="./images/icons/logo.svg" alt="Logo">
            </a>
            <div class="box">
                <div class="contact-block">
                    <a class="link rev" href="#reviews">Відгуки</a>
                    <div class="numbers">
                        <a class="link" href="tel:+380633604710">+38 (063) 360-47-10</a>
                    </div>
                    <div class="socials">
                        <a href="#">
                            <img src="./images/icons/telegram.svg" alt="icon">
                        </a>
                        <a href="#">
                            <img src="./images/icons/insta.svg" alt="icon">
                        </a>
                    </div>
                </div>
                <ul class="lang-box">
                    <li class="lang-item lang-item-6 lang-item-ua current-lang lang-item-first">
                        <a lang="ua" hreflang="ua" href="#">ua</a>
                    </li>
                    <li class="lang-item lang-item-3 lang-item-en">
                        <a lang="en" hreflang="en" href="#">en</a>
                    </li>
                </ul>
            </div>
            <button class="burger">
                <span></span>
            </button>
        </div>
    </div>
</header>