body {
    color: $main_black;
    background-color: $main_white;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 40px;
    margin: 0 auto;
}

.btn {
    min-width: 240px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    font: $bold 14px / 1 $Quattrocento;
    text-transform: uppercase;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: $anim_03;

    &.main {
        color: $main_white;
        background-color: $accent_gold;

        &:hover {
            background-color: $main_black;
        }
    }

    &.secondary {
        color: $main_black;
        border-color: $main_black;

        &:hover {
            color: $main_white;
            background-color: $main_black;
        }

        &.rev {
            color: $main_white;
            background-color: $main_black;

            &:hover {
                color: $main_black;
                background-color: $main_white;
            }
        }
    }
}

.title {
    margin-bottom: 60px;
    color: $main_black;
    font: $bold 48px / 1.2 $Cinzel;
    text-transform: uppercase;

    @include media('<tablet_x') {
        margin-bottom: 36px;
        font-size: 32px;
    }

    @include media('<phone') {
        font-size: 24px;
    }
}

.def-pag {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 40px;

    .swiper-pagination-bullet {
        min-width: 10px;
        height: 10px;
        margin: 0 !important;
        background-color: $main_black;
        opacity: 0.3;
        transition: $anim_03;

        &:hover {
            background-color: $accent_gold;
        }
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

.def-arrows {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;

    .def-arrow {
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        border: 1px solid $main_black;
        transition: $anim_03;
        cursor: pointer;

        svg {
            stroke: $main_black;
            transition: $anim_03;
        }

        &:hover {
            border-color: $accent_gold;

            svg {
                stroke: $accent_gold;
            }
        }
    }

    .swiper-button-disabled {
        opacity: 0.7;
        cursor: no-drop;

        &:hover {
            border-color: $main_black;

            svg {
                stroke: $main_black;
            }
        }
    }
}
