body {
    color: $main_black;
    background-color: $main_white;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 40px;
    margin: 0 auto;
}

.btn {
    min-width: 240px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    font: $bold 14px / 1 $Quattrocento;
    text-transform: uppercase;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: $anim_03;

    &.main {
        color: $main_white;
        background-color: $accent_gold;

        &:hover {
            background-color: $main_black;
        }
    }

    &.secondary {
        color: $main_black;
        border-color: $main_black;

        &:hover {
            color: $main_white;
            background-color: $main_black;
        }
    }
}

.title {
    margin-bottom: 60px;
    color: $main_black;
    font: $bold 48px / 1.2 $Cinzel;
    text-transform: uppercase;

    @include media('<tablet_x') {
        font-size: 32px;
    }

    @include media('<phone') {
        margin-bottom: 36px;
        font-size: 24px;
    }
}

.def-pag {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 40px;

    .swiper-pagination-bullet {
        min-width: 10px;
        height: 10px;
        margin: 0 !important;
        background-color: $main_black;
        opacity: 0.3;
        transition: $anim_03;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}
